{% extends 'base.html' %} {% block title %} About {% endblock %} {% block
content %}

<div class="container p-5" align="center" style="font-size: large">
  <p>
    <b>Developed by:</b><br />
    Danish Khan<br />
    RCOE<br />
    Computer Science & Engineering<br />
  </p>
</div>
<footer align="center">
  <a href="https://github.com/danishkhanbx" target="_blank"><b>Github</b></a> |
  <a href="https://www.linkedin.com/in/danish-khan-480465205/" target="_blank"
    ><b>LinkedIn</b></a
  >
</footer>
{% endblock %}
